<form action="/auth/recover/new" method="POST">
	<h2>Alteração da senha atual</h2>
	<input type="password" name="password" placeholder="senha atual">
	<input type="password" name="confirmPassword" placeholder="nova senha">
	<button type="submit">Alterar</button>
</form>