<form action="/auth/signup" method="POST">
	<h2>Criar uma conta</h2>
	<input type="text" name="username" value="leonardomrabelo">
	<input type="whatsapp" name="whatsapp" placeholder="whatsapp" value="5561996792937">
	<input type="email" name="email" value="leonardomrabelo@gmail.com">
	<input type="password" name="password" value="123">
	<button type="submit">Entrar</button>
	<a href="/auth/signin">Já tenho uma conta</a>
</form>
