<form action="/send?key=54xsmxx2qca" method="POST">
	<input type="text" name="name" value="Rayssa">
	<input type="text" name="whatsapp" value="556199999999">
	<input type="text" name="email" value="rayssalisboa55@gmail.com">
	<textarea name="message">Texto teste</textarea>
	<button type="submit">Enviar</button>
</form>