<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/WTSthemeclean.css">
    <title>Instantzap</title>
</head>
<body style="margin:0px;">

    <a href="#" class="wtsIcon">
        <i class="notificationWTS">1</i>
        <img src="public/img/whatsapp.svg" alt="WhatsApp">
    </a>
    <div class="windowWTS">
        <div class="formWTS">
            <form action="#" target="_blank">
                <input type="text" name="name" placeholder="Nome" required>
                <input type="tel" name="whatsapp" placeholder="DDD + Número" required>
                <input type="email" name="mail" placeholder="E-mail" required>
                <textarea name="message" rows="3" placeholder="Sua Mensagem" required></textarea>
                <input type="submit" value="Enviar">
            </form>
        </div>
        <div id="chatWTS">
            <header>
                <div class="profileWTS"><img src="" alt=""><i class="onlineWTS"></i></div>
                <div class="infoWTS"><div>Empresa<span>online</span></div></div>
            </header>
            <div class="containerWTS">
                <div class="msgWTS"><span class="nameWTS"><strong>Empresa</strong></span><p class="messageWTS">Olá, tudo bem?<br/>Como podemos ajudar?</p><span class="timeWTS">10:36</span></div>
            </div>
            <div class="sendWTS">
                <a href="#" class="buttonWTS"><img src="public/img/send.svg" alt="Enviar"> Enviar Mensagem</a>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    document.querySelector(".buttonWTS").onclick = function() {
        document.querySelector("#chatWTS").classList.add("fadeOut");
        document.querySelector(".formWTS input[name='name']").focus();
    }
    document.querySelector(".wtsIcon").onclick = function() {
        document.querySelector(".windowWTS").classList.toggle('visibility');
        document.querySelector(".windowWTS").style.animationDelay="0s";
    }
</script>