<form action="/auth/signin" method="POST">
	<h2>Entrar</h2>
	<input type="text" name="username">
	<input type="password" name="password">
	<button type="submit">Entrar</button>
	<a href="/auth/recover">Esqueci minha senha</a>
	<a href="/auth/signup">Criar uma conta</a>
</form>